Source: qmail-run
Section: mail
Priority: extra
Maintainer: Gerrit Pape <pape@innominate.com>
Standards-Version: 3.0.1
Build-Depends: debhelper

Package: qmail-run
Architecture: any
Depends: qmail, daemontools-run, ucspi-tcp, procmail
Suggests: mail-reader
Conflicts: mail-transport-agent
Replaces: mail-transport-agent
Provides: mail-transport-agent
Description: sets up qmail as mail-transfer-agent
 This package sets up qmail as mail-tranfer-agent. This is the same a user
 would do when installing qmail following the instructions in
 /usr/share/doc/qmail/fastforward/ALIASES and /usr/share/doc/qmail/INSTALL
 starting at step 9.
 .
 See /usr/share/doc/qmail-run/README.Debian for details.
 .
 See http://innominate.org/~pape/djb/ for more information and related
 packages.
