#!/usr/bin/make -f

DIR=`pwd`/debian/qmail-run

build: deb-checkdir build-stamp
build-stamp:
	touch build-stamp

clean: deb-checkdir deb-checkuid
	rm -rf "$(DIR)"
	rm -f build-stamp
	rm -f debian/files

install: deb-checkdir deb-checkuid build-stamp
	rm -rf "$(DIR)"
	$(MAKE) install DESTDIR="$(DIR)"
	install -d -m0755 "$(DIR)"/etc/init.d
	install -m0755 debian/init "$(DIR)"/etc/init.d/qmail
	ln -s qmail-sendmail "$(DIR)"/usr/sbin/sendmail
	ln -s qmail-sendmail "$(DIR)"/usr/sbin/mailq
	install -d -m0755 "$(DIR)"/usr/lib
	ln -s ../sbin/sendmail "$(DIR)"/usr/lib/sendmail
	ln -s /var/log/qmail-send "$(DIR)"/etc/qmail/qmail-send/log/main
	ln -s /var/log/qmail-smtpd "$(DIR)"/etc/qmail/qmail-smtpd/log/main
	install -d -m0755 "$(DIR)"/var/qmail/bin
	ln -s /etc/init.d/qmail "$(DIR)"/var/qmail/bin/qmailctl
	install -d -m0755 "$(DIR)"/usr/bin
	ln -s /etc/init.d/qmail "$(DIR)"/usr/bin/qmailctl
	# man pages
	install -d -m0755 "$(DIR)"/usr/share/man/man8
	install -m0644 man/tcprules-smtp.8 "$(DIR)"/usr/share/man/man8/
	gzip -9 "$(DIR)"/usr/share/man/man8/tcprules-smtp.8

binary-arch:

binary-indep: install qmail-run.deb
	dpkg-gencontrol -isp -pqmail-run -P"$(DIR)"
	dpkg -b "$(DIR)" ..

binary: binary-indep binary-arch

.PHONY: build clean install binary-indep binary-arch binary

include debian/implicit
